html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-form {
}

.todo-input {
  margin-right: 5px;
}
